.form {
    display: flex;
    /* border:  1px solid black; */
    justify-content: center;
    width: 500px;
    margin: auto;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    label {
        font-size: 20px;
        font-weight: 800;
    };
    input{
        border-radius: 5px;
        height: 30px;
        border: 1px solid black;
    }
    button {
        width: 70px;
        height: 40px;
        margin: auto;
        color: white;
        background-color: rgb(13, 110, 253);
        border-radius: 6px;
        border: none;
        outline: none;
    }
}